input {outline: none;}

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: #0C00FF;
	background-color: #FFFA3E;
}

.generateCodeByModule {
	float:left;
	display: inline-block;
	margin-top: 1em;
}